:local .headerBox {
  font-family: "Roboto Slab", serif;
  display: flex;
  padding: 45px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

:local .header {
  font-size: 32px;
  margin-bottom: 0;
  padding: 0 70px 0 20px;
  color: rgba(0, 0, 0, 0.55);
}

:local .logoBox {
  background-color: #1b9aff;
  font-weight: 400;
  color: white;
  max-width: 60px;
  width: 100%;
  max-height: 50px;
  text-align: center;
  padding: 7px;
  font-size: 10px;
  letter-spacing: 0.3px;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
}

:local .userPage {
  width: 100%;
}

:local .search {
  max-width: 250px;
}

:local .logoLeft {
  display: flex;
  flex-direction: column;
  text-align: right;
  padding: 0 6px 0 2.5px;
  border-right: 1.3px solid white;
  background: linear-gradient(
    to bottom,
    #1b9aef,
    #1b9aef 38%,
    white 40%,
    white 42%,
    #1b9aef 43%,
    #1b9aef 100%
  );
}

:local .logoRight {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0 2.5px 0 6px;
  border-left: 1.3px solid white;
  background: linear-gradient(
    to bottom,
    #1b9aef,
    #1b9aef 38%,
    white 40%,
    white 42%,
    #1b9aef 43%,
    #1b9aef 100%
  );
}

:local .logoTeam {
  font-weight: 700;
}

:local .logoScore {
  padding-top: 3px;
}

:local .button {
  padding: 15px;
}

:local .newGameBox {
  display: flex;
  align-items: center;
  width: 67%;
  padding-left: 15%;
  height: 50px !important;
}

.ant-btn-lg {
  height: 50px !important;
}

:local .topBox {
  padding: 45px;
  display: flex;
  justify-content: space-between;
}

:local .imgBox {
  max-width: 25%;
  width: 100%;
}

:local .img {
  width: 100%;
}

:local .contentBox {
  max-width: 65%;
  width: 100%;
}

:local .content1 {
  display: flex;
  font-family: "Roboto Slab", serif;
}

:local .user {
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.7);
  font-size: 45px;
}

:local .userName {
  color: rgba(0, 0, 0, 0.35);
  font-size: 30px;
  margin-bottom: 0;
  font-style: italic;
}

:local ._location {
  padding: 0 0 0 9%;
  font-size: 17px;
}

:local ._locationBox {
  padding: 2% 0 0 4%;
  max-width: 220px;
  width: 100%;
}

:local ._locationIcon {
  font-size: 20px;
}
