:local .userPage {
  width: 100%;
}

:local .container {
  padding: 45px;
  font-family: "Roboto Slab", serif;
}

:local .content1 {
  display: flex;
  justify-content: space-between;
}

:local .imgBox {
  max-width: 25%;
  width: 100%;
}

:local .img {
  width: 100%;
}

:local .userContent {
  max-width: 65%;
  width: 100%;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

:local .user {
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.7);
  font-size: 45px;
}

:local .userName {
  color: rgba(0, 0, 0, 0.35);
  font-size: 30px;
  margin-bottom: 0;
  font-style: italic;
}

:local .userInfo {
  width: 100%;
}

:local ._location {
  padding: 0 0 0 20px;
  font-size: 17px;
}

:local ._locationIcon {
  font-size: 20px;
  padding: 0 0 0 45px;
}

:local .content2 {
  display: flex;
  justify-content: space-between;
}

:local .friendsBox {
  max-width: 25%;
  width: 100%;
}

:local .friendsTitle {
  font-size: 17px;
  color: rgba(0, 0, 0, 0.35);
  display: flex;
  padding: 80px 0px 0 0;
  justify-content: space-between;
}

:local .friends {
  color: rgba(0, 0, 0, 0.35);
  font-size: 30px;
  margin-bottom: 0;
  font-style: italic;
}

:local .aboutBox {
  max-width: 65%;
  width: 100%;
}

:local .divider {
  width: 80%;
  background: linear-gradient(
    to bottom,
    #00000000 52.5%,
    #00000035 52.6%,
    #00000035 57.5%,
    #00000000 57.6%,
    #00000000 100%
  );
}

:local .about {
  padding: 10px 10px 0 0;
  border: 2px solid #00000000;
  color: #00000035;
  font-size: 17px;
}

:local .about:hover {
  border-top: 3px solid #1b9aef;
  color: #00000055;
}

:local .aboutIcon {
  padding: 0 10px 0 0;
}

:local .aboutIcon:hover {
  color: #00000055;
}

:local .aboutHeader {
  padding: 10px 0 0 0;
}
