:local .bidForm {
  padding: 40px 0 0 0;
  max-width: 500px;
  margin: 0 auto;
}

:local .teamBox {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

:local .teamButton {
  max-width: 100px;
  width: 100%;
}

:local .playerSelect {
  width: 77%;
}

:local .handBox {
  font-family: "Roboto Slab", serif;
  color: black;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
}

:local .titleHeader {
  text-align: center;
  padding: 0 0 20px 0;
  font-family: "Roboto Slab", serif;
  font-size: 45px;
  color: #00000070;
}

:local .borderBox {
  width: 90%;
  background: linear-gradient(
    to bottom,
    #00000000 52.5%,
    #00000035 52.6%,
    #00000035 57.5%,
    #00000000 57.6%,
    #00000000 100%
  );
}

:local .suitBoxButton {
  max-width: 100px;
  width: 100%;
}

:local .suitBox {
  display: flex;
  justify-content: space-between;
  padding: 0 0 40px 0;
}
:local .suitButton {
  padding: 0 6.1px;
  font-size: 15px;
}

:local .trumpsButton {
  padding: 0 6.1px;
  font-size: 10px;
}

:local .misereButton {
  padding: 0 6.1px;
  font-size: 10px;
}

:local .openButton {
  padding: 0 6.1px;
  font-size: 10px;
}

:local .tricksBox {
  display: flex;
  justify-content: space-between;
  padding: 0 0 40px 0;
}

:local .tricksSlider {
  width: 74%;
}

:local .tricksButton {
  width: 100%;
  max-width: 100px;
}

.black {
  color: red;
}
