:local .setup {
  font-family: "Roboto Slab", serif;
  text-align: center;
}

:local .setupHeader {
  font-size: 45px;
  color: #00000070;
}

:local .gameSelect {
  width: 77%;
}

:local .gameBox {
  padding: 0 0 40px 0;
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  margin: 0 auto;
}

:local .setupBox {
  display: flex;
  max-width: 500px;
  justify-content: space-between;
  margin: 0 auto;
}

:local .buttonBox {
  display: flex;
}

:local .playerSelect {
  max-width: 50%;
}

:local .playerButton {
  max-width: 100px;
  width: 100%;
}

:local .gameButton {
  max-width: 100px;
  width: 100%;
}
